@use "_estilos" as*;

/*NAVEGADOR*/

%comun-nav{
    display: flex;
    height: 75px;
    padding: 0%;
    margin: 0%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

header{
    background-color: $rosanav ;
    margin-bottom: 40px;
    font-size:20px;
    width: 100%;
    height: 75px;
    z-index: 9;
    @extend %comun-nav;
    
}
nav{
        width: 100%;
        display: flex;
        vertical-align: middle;
        margin: 0 10px;
        text-align: center;
        ul{
            @extend %comun-nav;
                li{
                    width: 10em ;
                    list-style: none;
                    margin-left: 15px;
                    justify-content:space-between;
                }
        }
    } 
h1{
        width: 15em;
        font-family: milonga;
        align-content: center;
        margin: 0 30px;
        color: whitesmoke;
    
}
.navegador-carrito{
    align-content: end;
    width:100px;
    img{
        width: 40px;
        height: 40px;
    }
    @extend %comun-nav;

}
@media (max-width:700px) {
    nav, header{
        display: none;
    }
    .nav2{
        height: 75px;
        padding: 0%;
        border: 0%;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        background-color: rgba(214, 121, 172, 0.911);
    }
    .menu-fuera, .header-fuera{
        background-color: rgba(214, 121, 172, 0.911);
        opacity: 0.8;
    }
    .header-fuera{
        font-family: milonga;
    }
    .titulo-header-nav2{
        text-align: center;
        width: 100%;
        font-size: 30px;
        color: black;
        
    }
    .menu-fuera li{
        list-style: none;
        text-align:center;
        padding-right: 50px;
        line-height: 50px;
    }
    .menu-fuera ul{
        text-align: start;
        line-height: 40px;
    }
    .menu-fuera a{
        color: black;
        font-size: 20px;
    }
    .dentro-nav2{
        margin: 0%;
        padding: 0%;
        width: 100%;
        display: flex;
        vertical-align: middle;
        margin: 0 10px;
        text-align: center;
        justify-content: space-between;
    }
    .dentro-nav2 h1{
        text-align: center;
        width: auto;
    }
    .btn img{
        width: 40px;
        height: 80%;
        padding: 0%;
        margin: 0%;
    }
    
}
@media (min-width:700px){
    .nav2{
        display: none;
    }
}

/*FOOTER*/

footer{
    margin: 50px 0 0 0;
    background-color:$rosanav ;
    bottom: 0%;
    width: 100%;
    height: 75px;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;

    div{
        display:inline-block;
        width:32%;
        text-align: center;
    }
    ul{
        li{
            text-align: start;
            list-style: none;
            margin-bottom: 10px;
        }
    }
}
.footer-politicas{
    margin-left:25px;
    height: 75px;
    align-content: center;
    vertical-align: middle;
}
.footer-horario{
    text-align: center;
    height: 75px;
    align-content: center;
    vertical-align: middle;
}
.footer-links{
    text-align: end;
    height: 75px;
    align-content: center;
    vertical-align: middle;
    img{
        width: 50px;
    }
}
.footer-horario,.footer-links,.footer-politicas{
    height: 75px;
    align-content: center;
    vertical-align: middle;
}

@media (max-width:600px) {
    .footer-politicas{
        font-size: 20px;
        font-size: medium;
    } ;
    .footer-links img{
        width: 40px;
    }
    .footer-links{
        padding-right: 10px;
    }
    .footer-horario{
        display: none;
    }
    footer div{
        width: 50%;
        vertical-align: middle;
    }
    footer ul li{
        margin-bottom: 3px;
    }
}