@use "_estilos" as*;

.contenedor{
    display: flex;
    width: 95%;
    height:100%;
    justify-self: center;
    background:rgba(234, 132, 132, 0.818) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    ul{
        text-align: start;
    }
}
.side-nav{
    ul{
        li{
            list-style: none;
            margin-bottom: 1.5em;
        }
    }
    ;
    text-decoration: none;
    margin: 10px;
    padding-top: 70px;
}
.contenido-productos{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 355px);
    grid-template-areas: 
        "producto1 producto2 producto3 producto4"
        "producto5 producto6 producto7 producto8"
        "producto9 producto10 producto11 producto12"
        ;
    justify-content:space-around;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 20px;
    column-gap: 15px;
    gap: 40px;
    img{
        width: 100%;
        height: 350px;
        border-radius: 5%;
        &:hover{
        animation: pulse 1s;
        }
    }
    
}
.producto1{
    grid-area: producto1;
    
}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.producto6{
    grid-area: producto6;
}
.producto7{
    grid-area: producto7;
}
.producto8{
    grid-area: producto8;
}
.producto9{
    grid-area: producto9;
}
.producto10{
    grid-area: producto10;
}
figcaption{
    margin-bottom: 40px;
    font-size: medium;
    text-align: start;
    font-style: italic;
}

@media (min-width:701px){
    .nav-arriba{
        display: none;
    }
}

@media (max-width:700px) {
    .contenido-productos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5,200px);
        grid-template-areas:
        "producto1 producto2"
        "producto3 producto4"
        "producto5 producto6"
        "producto7 producto8"
        "producto9 producto10";
        ;
        justify-content: space-around;
        padding:40px 15px;
        row-gap: 50px;
    }
    .contenido-productos img{
        width: 100%;
        height: 200px;
        border-radius: 5%;
    }
    .side-nav{
        display: none;
    }
    .nav-arriba{
        margin: 10px;
        padding: 15px 2.18em;
        display: inline-block;
        width: 75%;
        justify-content: center;
        background-color: $rosita;
    }
}


